<%treinoOrdem = @ordNeuTreino.fetch(treinoItem.id)%>
<%estilo = "width:90px; height:30px;"%>

<div class="row">

  <%treinoOrdem.each do |id,item,valor| %>
    <%tId = "cmn-toggle-" << treinoItem.id.to_s << id.to_s %>
    <%tMsg =  "Treino " << item%>

    <div class="col-md-3">
      <%= check_box_tag "ordNeuTreino[#{treinoItem.id}][#{id}][]", item, valor,
                        { "class" => "cmn-toggle cmn-toggle-yes-no", "id" => tId,
                          "style" => estilo} %>

      <%=label_tag nil,nil,{"for" => tId ,"data-on" => tMsg,"data-off" => tMsg,
                            "style"=> estilo}%>

    </div>
  <% end %>
</div>
