<div class="panel-body">
  Treino
  <label class="btn btn-info">
    <input type="checkbox" autocomplete="off">A
  </label>
  <label class="btn btn-info">
    <input type="checkbox" autocomplete="off">B
  </label>
  <label class="btn btn-info">
    <input type="checkbox" autocomplete="off">C
  </label>
</div>
