<label class="btn btn-primary">
  <%= check_box_tag 'treino[atividade_ids][]',neuroAtividade.id,
                    seekAtividade(neuroAtividade),
                    :autocomplete => "off"%>
  <%=neuroAtividade.nome %>
</label>
