<%- model_class = Aluno -%>
<%= form_tag(printTreino_path, :method => "get") do %>
	
	<% if not user_signed_in? %>
		<div class="control-group">
			<div class="controls">
				Cod.Aluno: <input id="only_number" name="idAcademia" type="text" onkeypress="onlyTextNumber" alt="idAcademia"/><%= submit_tag 'Localize meu treino',:class => 'btn btn-warning' %>
			</div>
		</div>
	<%else%>
		
		<%= grid(@alunos_grid, 
			allow_showing_all_records:  false,
			show_filters: :when_filtered) do |g|
			
			g.column name:  'Cód.Aluno', attribute: 'idAcademia' do |aluno|
				aluno.idAcademia
			end
			
			g.column name:  'Nome', attribute: 'nome'  do |aluno|
				aluno.nome
			end
		
			g.column   do |aluno|
				link_to( image_tag("btnOperation/form_show.png", :alt => "Visualizar") , aluno)
			end
			
			g.column   do |aluno|
				link_to(image_tag("btnOperation/form_edit.png", :alt => "Alterar."), edit_aluno_path(aluno))
			end
		end %>
	<%end%>
<% end -%>