<%- model_class = Aluno -%>
<%= form_tag(printTreino_path, :method => "get", :class=>"form-inline") do %>
	
	<% if not user_signed_in? %>
		<div class="hero-unit">
		  <h1>Localizador de Treino</h1>
		  <br>
		  <p>Para localizar o seu treino, informe o seu c贸digo no campo c贸digo do aluno e em seguida clique em localizar.</p>
		  <br>
		  <p>
			<div class="alert alert-info">
				<div class="input-append">
					<label class="control-label">C贸digo do aluno:</label>
					<input class="span5" id="only_number" name="idAcademia" type="text" onkeypress="onlyTextNumber" alt="idAcademia"/>
					<button class="btn" type="submit">Localizar</button>	
				</div>
			</div>
		  </p>
		<div class="control-group">
			<div class="controls">
			</div>
		</div>
	<%else%>
		
		<%= grid(@alunos_grid, 
			allow_showing_all_records:  false,
			show_filters: :when_filtered) do |g|
			
			g.column name:  'C贸d.Aluno', attribute: 'idAcademia' do |aluno|
				aluno.idAcademia
			end
			
			g.column name:  'Nome', attribute: 'nome'  do |aluno|
				aluno.nome
			end
		
			g.column   do |aluno|
				link_to( image_tag("btnOperation/form_show.png", :alt => "Visualizar") , aluno)
			end
			
			g.column   do |aluno|
				link_to(image_tag("btnOperation/form_edit.png", :alt => "Alterar."), edit_aluno_path(aluno))
			end
		end %>
	<%end%>
<% end -%>