<h1>New aluno</h1>

<%= render 'form' %>

<% Atividade.all.each do |atividade| %>
   <%= label_tag :atividade_ids, atividade.nome %>
   <%= label_tag "," %>
<% end %>

<br>

<%= link_to 'Back', alunos_path %>
